### LaTeX ###
tfc.pdf

### Core latex/pdflatex auxiliary files:
*.tex.backup
*.tex~
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.idx
*.ilg
*.ind
*.kilepr~
*.ps

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.brf
*.bib.bak
*.bib~


## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
